@font-face {
    font-family: 'myriad_proregular';
    src: url('./fonts/myriadproregular-webfont.woff2') format('woff2'),
         url('./fonts/myriadproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'myriad_proregular', sans-serif !important;
    font-weight: normal !important;
    font-style:normal !important;
    color: #485eab !important;
    background-color: #f2f2f2 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
} 

* {
    box-sizing: border-box;
}

/*REsponsiveness*/
@media (max-width: 1046px) {
    body{
        position: relative;
    }
    /* .wrapper {
      flex-direction: column !important;
    } */
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
}

/* ALERT BOX */
.alert {
    position: fixed !important;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 40vw;
    min-width: 200px;
}

.alert-hidden {
    visibility: hidden;
    transform: translate(0px, -99px);
    transition: ease-in-out 400ms;
}

.alert-visible {
    visibility: visible;
    transform: translate(0);
    transition: ease-in-out 400ms;
}

/* NAV BAR */
#nav-bar {
    min-height: 95%;
}


.navbar-nav img {
    margin-left: 15px;
}

#navbar-icons-form,
#navbar-icons-help {
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 6px 8px;
    cursor: pointer !important;
}

#navbar-icons-permission,
#navbar-icons-profile {
    cursor: not-allowed;
}

a.navbar-label:hover {
 color: #f2f2f2 !important;
}

a.navbar-label-users,
a.navbar-label-perms {
    cursor: not-allowed;

        opacity: 0.5 !important;
}

/*Tooltip*/
.tooltip.show {
    opacity: 1 !important;
}

/*Overview*/
.overviewContainer{
  padding: 20px 40px 10px 20px;
}
.obsLogoContainer {
    width: 200px;
}
#obsLogo {
    width: 100%;
}
.overviewText{
    padding: 5px 0;
    font-size: 26px;
}

/*PROFILE*/
.profileText {
    text-decoration: none;
    color: #485eab;
    font-size: 26px;
    white-space: nowrap;
    font-weight: 500;
    padding-left: 8px;
}


#profile-container {
    margin-left: auto;
    padding: 8px;
    cursor: pointer;
    border-radius: 300px;
    transition: ease-in-out 150ms;
}

#profile-container img {
    height: 40px;
    width: 40px;
    border-radius: 60px;
}

#profile-container:hover {
    background-color: #dfdfdf;
}

/*Status*/
  .rectanglePending, .rectangleApproved, .rectangleRejected, .rectanglePendingParent {
    margin: 10px;
    width: 280px;
    height: 170px;
    background-color: #f2c153;
    border:1px solid #485eab;  
    border-radius: 10px;   
    cursor: pointer;
  }

  .rectangleApproved {
    background-color: #9ee5ac;
  }
  .rectangleRejected {
    background-color: #ea6363;
  } 

/*Search*/
#searchInputContainer {
  max-width: 1020px;
}
  
#spacer {
    z-index: 99;
    position: absolute;
    bottom: 25%;
    left: 88.95%;
    width: 1px !important;
    background-color: #C7D3EF;
    height: 50%;
}

#searchInput {
    padding: 12px 20px;
    border: #485EAB 2px solid;
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: none;
    max-width: 80% !important;
    box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}

#searchInput::placeholder {
    color: #c7d3ef;
    color: #485eab;
    font-size: 16px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group button {
    border-radius: 12px;
    background-color: white;
    border: #485EAB 2px solid;
    border-left: none;
    display: flex;
    align-items: center;
}

#clear-button {
    border-right: none;
}

.input-group button:hover {
    background-color: white;
}

.input-group button:active {
    background-color: white !important;
}


/*Filter*/

#filter-icon-container {
    padding: 8px 9px;
    border-radius: 10px;
    border: 2px solid #485EAB;
    background-color: #C7D3EF;
    transition: ease-in-out 150ms;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
#filter-icon{
    padding-left: 1px;
    padding-top: 1px;
    height: 25px;
    width: 26px;
   
}

#filter-icon-container:hover {
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.2);
}

#eligibilityDropDownMenu,
#courseDateDropDownMenu,
#classDropDownMenu,
#schoolDropDownMenu {
    border: 2px solid #485EAB;
    color: #485EAB;
    overflow-x: hidden;
    background-color: #C7D3EF !important;
    background-clip: border-box !important;
}


#eligibilityDropDownMenu {
    width: 250px;
}


.displayFilters {
margin-left: 10px;
margin-top: 1px;
  }
.custom-column {
    padding: 9px 20px;
    border-radius: 17px;
    height: 47px;
    text-align: center;
    border: 2px solid #485EAB;
    background-color: #C7D3EF;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.custom-row {
    max-width: 800px;
}


.custom-menu {
    min-width: 200px;
    background-color: #C7D3EF !important;
    color: #485EAB;
    max-height: 275px;
    overflow-y: auto;
}

.searchBarFilter {
    height: 50px;
    border: solid 1px grey;
    border-radius: 10px;
    padding-left: 7px;
    background-color: #C7D3EF;
}

.dropDownLists {
    margin: 10px;
}




/*Table*/
.tableContainer {
    margin: 5px 40px 40px 20px;
    border: 2px solid #485eab !important;
    border-radius: 18px !important;
    /* max-height: calc(100vh - 480px);  */
    max-height: 686px;
}
table {
    border-collapse:separate !important;
    border-spacing:0 10px !important;
    width: 100% !important;
    padding: 0 20px !important;
}

th {
    padding: 0 11px !important;
    background-color: #ffffff !important;
    text-align: left !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    text-transform: uppercase !important;
    position: sticky !important; 
    top: 0 !important; 
    z-index: 1 !important; 
}
#nricColumn, #fullNameColumn, #classColumn, #schColumn, #eligibilityColumn, #courseDateColumn {
    cursor: pointer;
}
tbody {
    cursor: pointer !important;
}

td{
    padding: 15px!important;
    text-align: left !important;
    vertical-align:middle !important;
    font-size: 18px !important;
    border:1px solid #485eab !important;
    border-style:solid none !important;

}  

td:first-child {
    border-left-style:solid !important;
    border-top-left-radius:11px !important;
    border-bottom-left-radius:11px !important;
 }
 
 td:last-child {
    border-right-style:solid !important;
    border-bottom-right-radius:11px !important;
    border-top-right-radius:11px !important;
 }

 /*All the different pills colours*/

.pillRejected,
.pillParent,
.pillPending,
.pillApproved {
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    padding: 3px 15px;
    font-size: 14px;
    color: #334772 !important;
    width: 145px;
    height: 34px;
    border: 1px solid #334772 !important;
    border-radius: 20px; /* make it pill-shaped */
    text-align: center;
    line-height: normal !important; /* height fixed */
    white-space: nowrap; /* don't wrap text */
}

.pillPending {
   
    background-color: #f2c153 !important;
   
}
.pillRejected {
   
    background-color: #ea6363 !important;
   
}
.pillApproved{
   
    background-color: #9ee5ac !important;
   
}


.pillParent {
   
    background-color: #f2c153 !important;
  
  }
  
  /*.pillParent:hover,
  .pillParent:active {
    max-height: none; 
    white-space: normal; 
    text-overflow: clip; 
  } */
  
/*ICONS*/
.header-container {
  display: flex;
 
}

.arrow-icon {
  margin-left: 2px; /* Adjust margin as needed */
  transform: translateY(-2px);
}
.arrow-icon-name,
.arrow-icon-class,
.arrow-icon-school,
.arrow-icon-eligibility,
.arrow-icon-coursedate {
    margin-left: 2px; /* Adjust margin as needed */
    transform: translateY(-2px);
}

#checkBoxTop {
    transform: translateY(1px);
    margin-left: 17px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#checkBox {
    transform: translateY(4px);
    margin-left: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer !important;
}

/*MODALS*/
.modal-content {
    background-color: #c7d3ef !important;
    border: 2px solid #485eab !important;
}
#eyeSVG {
    width: 20px;
}
.eyeIcon {
    fill:#485eab;
}
#formSVG {
    padding-right: 5px !important;
    width: 30px;
}
#formIconContainer {
    fill: #efefef;
    stroke: #485eab;
    stroke-miterlimit: 10;
    stroke-width: 2.23px;
}
#formIcon {
fill: #485eab;
}
#errorIcon {
    width: 100px;
}
#pillForm {
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    max-height: 100%;
    background-color: white !important;
    border:#485eab 2px solid;
    border-radius: 20px; /* make it pill-shaped */
}
.successBtn,
.reviewBtn,
.rejectBtn {
    background-color: #23e571 !important;
    border: 2px solid #485eab !important;
    margin-left: 10px !important;
}


.verticalLine {
    width: 1px;
    height: 30px;
    background-color: #485eab;
    transform: rotate(15deg);
  }
.approve-btn{
    background-color: #f2f2f2!important;
    border: 2px solid #485eab !important;
    color: #485eab !important;
}
.reject-btn{
    background-color: #f2f2f2 !important;
    border: 2px solid #485eab !important;
    color: #485eab !important;
}
.exportBtn,
.submitReviewBtn,
.undoStatusBtn{
    background-color: #f2f2f2 !important;
    border: 2px solid #485eab !important;
    color: #485eab !important;
}




/*FORM*/
form {
    height: 100%;
    background-color: #C7D3EF;
   
}
  
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

