#container {
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}


#doctor-form {
    border: 3px solid #485EAB;
    background-color: #C7D3EF;
    height: 100%;
}


#doctor-signature-image {
    border: 1px solid #485EAB;
    background-color: rgb(208, 208, 208);
    width: 100%;
}

#parent-signature-canvas {
    border: 1px solid #485EAB;
    background-color: white;
    width: 100%;
}