#container {
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}


#doctor-form {
    border: 3px solid #485EAB;
    background-color: #C7D3EF;
    height: 100%;
}

.invalid-tooltip {
    position: relative!important;
    top: 0!important;
}

#doctor-signature-image {
    border: 1px solid #485EAB;
    background-color: rgb(208, 208, 208);
    width: 100%;
}

#parent-signature-canvas {
    border: 1px solid #485EAB;
    background-color: white;
    width: 100%;
}

.decision-btn {
    background-color: #f2f2f2!important;
    border: 2px solid #485eab !important;
    color: #485eab !important;
}

.verticalLine {
    width: 1px;
    height: 30px;
    background-color: #485eab;
  }


#logout-btn {
   /* btn line height 1 */
    line-height: 1!important;
    padding: 0!important;
}

#icons-logout {
    padding: 0!important;
    cursor: pointer !important;

}

.alert {
    position: fixed !important;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 40vw;
    min-width: 200px;
}

.alert-hidden {
    visibility: hidden;
    transform: translate(0px, -99px);
    transition: ease-in-out 400ms;
}

.alert-visible {
    visibility: visible;
    transform: translate(0);
    transition: ease-in-out 400ms;
}