.custom-column {
    padding: 9px 20px;
    border-radius: 17px;
    height: 47px;
    text-align: center;
    border: 2px solid #485EAB;
    background-color: #C7D3EF;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.custom-row {
    max-width: 800px;
}

.icon {
    height: 47px;
    width: 47px;
}

.custom-menu {
    min-width: 200px;
    background-color: #C7D3EF;
    color: #485EAB;
    max-height: 275px;
    overflow-y: auto;
}

.searchBar {
    height: 50px;
    border: solid 1px grey;
    border-radius: 10px;
    padding-left: 7px;
    background-color: #C7D3EF;
}

.dropDownLists {
    margin: 10px;
}


